* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

.header {
    height: 200px;
    width: 100%;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#logo {
    height: 100px;
    width: auto;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding-left: 30px;
    margin-top: 10px;
}

.navbar a:hover {
    color: yellow;
}

.searchcontainer .search-box {
    height: 25px;
    width: 200px;
}

.searchcontainer .search-box:hover {
    margin-top: 0%;
    height: 30px;
}

.searchcontainer .search-button {
    height: 25px;
    background-color: red;
    color: white;
}

.logcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log {
    height: 400px;
    width: 450px;
    border: 1px solid rgb(0, 0, 0);
}

.logcontainer .log img {
    width: 100px;
    height: 100px;
    margin-left: 180px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.logcontainer .log .loginform {
    text-align: center; /* Center align the form content */
}

.logcontainer .log .loginform input[type="text"],
.logcontainer .log .loginform input[type="password"] {
    width: 90%; /* Set width of inputs */
    padding: 5px; /* Add padding for better appearance */
    margin-bottom: 10px; /* Add margin bottom for spacing */
}

.logcontainer .log .loginform input[type="button"] {
    width: 50%; /* Set width of button */
    background-color:green; /* Changed to a shade of red */
    color: white;
    border: none; /* Removed border for cleaner appearance */
    padding: 10px; /* Added padding for better appearance */
    cursor: pointer; /* Added cursor pointer for usability */
}

.logcontainer .log .loginform a {
    display: block; /* Ensures link is on separate line */
    text-align: center; /* Center align link */
    margin-top: 10px; /* Added margin top for spacing */
    color: blue; /* Changed link color */
    text-decoration: none; /* Removed underline from link */
}
