
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #fbc2eb, #a6c0fe);
    font-family: cursive;
    font-size: 24px;
    color: #333; 
}

/* Card styling */
.card {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.heart {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotate(-45deg);
    margin: 50px auto;
}
.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}
.heart::before {
    top: -50px;
    left: 0;
}
.heart::after {
    top: 0;
    left: 50px;
}


h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 15px;
}

p {
    color: #666;
    margin-bottom: 25px;
}

/* Button styling */
.btn {
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 1.1em;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #5c2553;
}
